.user-details-container {
    margin: 20px;
    // display: flex;
    flex-direction: column;
    max-height: 100vh; /* Prevents parent from scrolling */
}

/* User Info Section */
.user-info {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 20px;
}

/* Two-column layout */
.info-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-column {
    flex: 1;
}

/* Table should be scrollable */
.table-container {
    max-height: 300px; /* Adjustable height */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    display: block;
    background: white; /* Ensures the background remains visible */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Keeps shadow effect */
    
}

table {
    width: 100%;
}

tr{
    cursor: pointer;
}


